*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --container-width: 1300px;
  --container-padding-x: 15px;

  --font-family-accent: Doto, sans-serif;

  --section-padding-y: 50px;
}

body {
  margin: 0;
}

h1 {
  font-size: 100px;
  font-family: var(--font-family-accent);
  font-weight: 700;
  color: blueviolet;
  text-align: center;
  margin-block: 40px;
}

h2 {
  font-size: 48px;
  font-family: var(--font-family-accent);
  font-weight: 600;
  color: blueviolet;
  text-align: center;
  margin-block: 10px;
}

p {
  margin: 0;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.section {
  padding-block: var(--section-padding-y);
}

.animation-test__description {
  line-height: 1.3;
  /* text-align: justify; */
  margin-inline: auto;
}

.animation-test__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animation-test__button {
  --buttonWidth: 150px;

  width: var(--buttonWidth);
  background-color: #000000;
  border: #000000 1px solid;
  border-radius: 16px;
  padding-inline: 50px;
  padding-block: 15px;
  color: #ffffff;
  margin-block: 30px;
  transition: all .2s;
  margin-bottom: 20px;
}

.animation-test__button:hover {
  background-color: #ffffff;
  border: #000000 1px solid;
  color: #000000;
}

.animation-test__rectangle {
  width: 30px;
  height: 30px;
  background-color: #000000;
  border: #000000 solid 1px;
  translate: -75px;
  rotate: 0;
  margin-bottom: 20px;
  transition: all .2s;

  animation: my-animation 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes my-animation {

  25% {
    background-color: #000000;
    border: #000000 solid 1px;
  }

  75% {
    background-color: #ffffff;
    border: #000000 solid 1px;
  }

  100% {
    translate: 75px;
    rotate: 360deg;
  }
}

.text-wrapping__inner {
  max-width: 250px;
  border: 3px solid blue;
}

.text-wrapping {
  font-size: 32px;
}

.text-wrapping__oneline {
  font-size: 32px;
  background-color: antiquewhite;
  margin-block: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-wrapping__multiline {
  font-size: 32px;
  background-color: antiquewhite;
  margin: 0; /* Убираем внешний отступ */
  -webkit-line-clamp: 3; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; /* Обрезаем всё за пределами блока */
}

#my-list li:nth-child(2) {
  color: red;
}

.parent .child {
  color: blue;
}

.parent .child.active {
  color: aqua;
}


.form {
  max-width: 450px;
  margin-inline: auto;
}

.form__button {
  border: 1px solid red;
  background-color: transparent;
  border-radius: 5px;
}

.table {
  border-collapse: collapse;
}

.table__head {
  border: 2px solid black;
}

.table__delay {
  border: 1px solid black;
}